<!-- code for chat box -->
<% if (locals.user){ %>
	<button class="open-button" onclick="openForm()">Chat</button>
	<div id="user-chat-box">
		<ul id="chat-messages-list">
			<li class="other-message">
				<span>Other Message</span>
			</li>
			<li class="self-message">
				<span>
					Self Message
				</span>
				
			</li>

		</ul>
		<div id="chat-message-input-container">
			<input id="chat-message-input" placeholder="Type message here">
			<button id="send-message">Send</button>
		</div>

		<div>
				<button type="button" class="button-cancel" onclick="closeForm()">Close</button>
		</div>

	</div>
<% } %>
