<!-- partial view,reuse of simimlar code  -->
<!-- partial view,reuse of simimlar code  -->
<div id="footer-container">
    <header>
        CodeIt
    </header>
        <ul>
            <% if (locals.user){ %>    <!--locals.user and user are both the same things, we are wrting locals.user to handle the error saying user variable not found,since we have not declared so used it like this -->
                <li>
                    <a href="/users/profile">
                        <%=user.name %>
                    </a>
                </li>
                <li>
                    <a href="/">Home</a>
                </li>
            <%} %>
        </ul>
</nav>