<link rel="stylesheet" href="/css/reset_password.css">

<div class="form-container">
    <h1>Enter Email</h1>

    <div class="signUpForm">
        <form action="/reset_passwords/reset" method="POST">
            <input type="email" class="headers emailSignUp" name="email" placeholder="Email"  required>
            <input type="submit" class="button signInButton" value="Submit">
        </form>
    </div>
</div>