body{

    #home-container{
        display: flex;
        height: 100%;
        width: 100%;

        #empty-space{
            width: 20%;
        }
        #feed-posts-container{
            width: 70%;
            display: flex;
            justify-content: flex-end;

            #feed-posts{
                width: 100%;
                padding: 10px;
                textarea{
                    border-color: #698cfc;
                    width: 70%;
                }
                
                .submit-button{
                    display: block;
                    margin-top: 2%;
                    width: 70px;
                    height: 25px;
                    background-color: #698cfc;
                    color: white;
                    border: none;
                    font-size: 1rem;
                }
                #posts-list-container{
                    border: 1px solid #698cfc;
                    width: 70%;


                    #all-post-header-container{
                        width: 100%;
                        height: 25px;
                        background-color: #698cfc;
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    ul {
                        list-style-type: none;
                    }
                    .post-details{
                        margin-bottom: 2%;
                        width: 85%;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        

                        #user-name{
                            flex-grow: 1;
                            margin-left: 4%;
                            font-size: 1.2rem;
                        }

                        #likes{
                            flex-grow: 9;
                            font-size: 0.8rem;
                            color: #698cfc;
                        }

                        .delete-post-button{
                            flex-grow: 1;
                            color: red;
                        }
                        .delete-comment-button{
                             flex-grow: 1;
                            color: red;
                        }
                    }

                    .comment-details{
                        margin-bottom: -4%;
                    }

                    .user-posts{
                        height: 25px;
                        width: 85%;
                        border: 1px solid #698cfc;
                        display: flex;
                        align-items: center;
                        padding: 2%;
                    }
                    .post-comments{
                        width: 85%;
                        border: 1px solid #698cfc;
                        display: flex;
                        justify-content: center;
                        flex-direction: column-reverse;
                        padding: 2%;
                        
                        #comment-box{
                            height: 25px;
                            width: 100%;
                        }

                        .comment-button{
                            width: 98px;
                            font-size: 0.8rem;
                            display: inline-block;
                            align-items: center;
                        }
                    }
                }
            }
        }
        #user-freinds{
            width: 25%;
            padding: 10px;
            border-left: 1px solid lightgray;
            height: 100%;

            .friends{
                color: black;
                display: flex;
                align-items: center;

                a{
                    color: black;
                    margin-left: 10%;
                }
            }
        }
    }
    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        top: 2%;
    }

    a{
        text-decoration: none;
        span{
            color: #698cfc;
        }
    }
}